@model com.fxm.MVCHibernate.Domain.SysUser

@{
    ViewBag.Title = "更改密码";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">重庆惠科金渝光电班车订座系统 </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/IndexMobile">首页</a></li>
                <li><a href="/OrderSeatRec/CarListForOrder">订座</a></li>
                <li><a href="/OrderSeatRec/QryPersonal">我的乘车记录</a></li>
                <li class="active"><a href="/SysUser/ChangePassword">更改密码</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 导航 end -->
<!-- 占位空间 -->
<div class="zhanwei"></div>
<!-- 占位空间 end -->
<!-- 面包屑导航 -->
<div class="container-fluid nowp">
    <a href="/Home/IndexMobile">首页</a>
    <a href="/OrderSeatRec/CarListForOrder">订座</a>
    <a href="/OrderSeatRec/QryPersonal">我的乘车记录</a>
    <a href="/SysUser/ChangePassword">更改密码</a>
</div>
<!-- 面包屑导航 end -->
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        var changeOldpass = 1;
        var changeNewPw = 1;
        $("#OldPassword").change(function() {
            var oldPW = $("#OldPassword").val();
            var url = '@Url.Action("PasswordCheck", "SysUser")' + "?r=" + Math.random();
            $.get(url, { "oldPasswod": oldPW }, function(Check) {
                if (Check) {
                    $("#Show").html("<img src='../../Content/Img/btnOk.png' style=' height:19px; padding-bottom:0px;' />");
                    changeOldpass = 2;
                } else {
                    $("#Show").html("<img src='../../Content/Img/btnClose.png' style=' height:19px; padding-bottom:0px;'/>密码错误");
                }
            }, "json");
        })

        $("#password2").change(function() {
            var PW1 = $("#password1").val();
            var PW2 = $("#password2").val();
            if (PW1 == PW2) {
                $("#PWshow").html("<img src='../../Content/Img/btnOk.png' style=' height:19px; padding-bottom:0px;' />");
                changeNewPw = 3;
            } else {
                $("#PWshow").html("<img src='../../Content/Img/btnClose.png' style=' height:19px; padding-bottom:0px;'/>密码不一致");
            }
        });

        $("#BtnSave").click(function() {
            var PW = $("#password2").val();
            if (changeOldpass == 2 && changeNewPw == 3) {
                var url = '@Url.Action("ChangeNewPassword", "SysUser")' + "?R=" + Math.random();
                var data = { "password": PW };
                $.post(url, data, function(Check) {
                    if (Check) {
                        $("#ShowPWC").html("密码修改成功");
                    } else {
                        $("#ShowPWC").html("密码修改失败"); //失败不提示
                    }
                }, "json");
            }
        });
    });
    $(document).ready(function() {
        $("#BtnClear").click(function() {
            $("#OldPassword").val("");
            $("#password1").val("");
            $("#password2").val("");
        });
    });


    $(document).ready(function() {
        $("#aa").click(function() {
            location.href = "http://baidu.com";
        });
    });
</script>



<div class="container-fluid">
    <div class="dingzuo">
        <h2>更改密码</h2>
    </div>
    <div class="mimagenggai">
        <form action="">
            <p>
                姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：@Model.Name
            </p>
            <p>
                登录帐号：@Model.LoginCode
                </p>
                <div class="form-group">
                    @Html.TextBox("OldPassword", "", new { placeholder = "原密码", @class = "form-control input-lg", autocomplete = "off" })
                    <span id="Show"></span>
                </div>
                <div class="form-group">
                    @Html.TextBox("password1", "", new { placeholder = "新密码", @class = "form-control input-lg", autocomplete = "off" })
                </div>
                <div class="form-group">
                    @Html.TextBox("password2", "", new { placeholder = "确认密码", @class = "form-control input-lg", autocomplete = "off" })
                    <span id="PWshow"></span>
                </div>
                <div id="ShowPWC">
                </div>
                <div class="form-group">
                    <input type="button" value="确认" id="BtnSave" class="btn btn-block btn-lg btn-success" />
                    <input type="button" value="重置" id="BtnClear" class="btn btn-block btn-lg btn-success" />
                </div>
            </form>
        </div>
        <div class="text-center">
            <p class="text-center login_copy">
                重庆工程学院·版权所有
                <br>
                重庆惠科金渝光电 重庆市巴南区界石镇数码产业园
            </p>
        </div>
</div>
