@model com.fxm.MVCHibernate.Domain.SysUser

@{
    ViewBag.Title = "更改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        var changeOldpass = 1;
        var changeNewPw = 1;
        $("#OldPassword").change(function() {
            var oldPW = $("#OldPassword").val();
            var url = '@Url.Action("PasswordCheck", "SysUser")' + "?r=" + Math.random();
            $.get(url, { "oldPasswod": oldPW }, function(Check) {
                if (Check) {
                    $("#Show").html("<img src='../../Content/Img/btnOk.png' style=' height:19px; padding-bottom:0px;' />");
                    changeOldpass = 2;
                } else {
                    $("#Show").html("<img src='../../Content/Img/btnClose.png' style=' height:19px; padding-bottom:0px;'/>密码错误");
                }
            }, "json");
        })

        $("#password2").change(function() {
            var PW1 = $("#password1").val();
            var PW2 = $("#password2").val();
            if (PW1 == PW2) {
                $("#PWshow").html("<img src='../../Content/Img/btnOk.png' style=' height:19px; padding-bottom:0px;' />");
                changeNewPw = 3;
            } else {
                $("#PWshow").html("<img src='../../Content/Img/btnClose.png' style=' height:19px; padding-bottom:0px;'/>密码不一致");
            }
        });

        $("#BtnSave").click(function() {
            var PW = $("#password2").val();
            if (changeOldpass == 2 && changeNewPw == 3) {
                var url = '@Url.Action("ChangeNewPassword", "SysUser")' + "?R=" + Math.random();
                var data = { "password": PW };
                $.post(url, data, function(Check) {
                    if (Check) {
                        $("#ShowPWC").html("密码修改成功");
                    } else {
                        $("#ShowPWC").html("密码修改失败"); //失败不提示
                    }
                }, "json");
            }
        });
    });
    $(document).ready(function() {
        $("#BtnClear").click(function() {
            $("#OldPassword").val("");
            $("#password1").val("");
            $("#password2").val("");
        });
    });


    $(document).ready(function() {
        $("#aa").click(function() {
            location.href = "http://baidu.com";
        });
    });

</script>
<table cellspacing="0" cellpadding="0" style="vertical-align: top; width: 100%; border: 0;">
    <tr>
        <td class="contentPageTitle" style="text-align: center; vertical-align: middle">
            修改密码
        </td>
    </tr>
    <tr>
        <td class="titleContentDivider"></td>
    </tr>
    <tr>
        <td height="30">
            <input class="btn3" type="button" value="确认" id="BtnSave" />
            <input class="btn3" type="button" value="重置" id="BtnClear" />
    </tr>
    <tr>
        <td>
            <fieldset>
                <legend></legend>
                <div class="editor-label-width">
                    @Html.LabelFor(model => model.Name)：
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(m => m.Name)
                </div>
                <div class="editor-label-width">
                    @Html.LabelFor(model => model.LoginCode)：
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(m => m.LoginCode)
                </div>
                <div class="editor-label-width">
                    原密码：
                </div>
                <div class="editor-field">
                    @Html.Password("OldPassword", "")
                    <span id="Show"></span>
                </div>
                <div class="editor-label-width">
                    新密码：
                </div>
                <div class="editor-field">
                    @Html.Password("password1", "")
                </div>
                <div class="editor-label-width">
                    确认密码：
                </div>
                <div class="editor-field">
                    @Html.Password("password2", "")<span id="PWshow"></span>
                </div>
                <div style="margin-left: 200px;">
                    <br />
                </div>
                <div id="ShowPWC">
                </div>
            </fieldset>
        </td>
    </tr>
</table>

