@model IEnumerable<com.fxm.MVCHibernate.Domain.CarLine>
@using com.fxm.MVCHibernate.Domain
@using MvcApp
@{
    ViewBag.Title = "我的行车记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<OrderSeatRec> hisOrderSeatRec = ViewBag.hisOrderSeatRec as IList<OrderSeatRec>;
}

<table cellspacing="0" cellpadding="0" style="vertical-align: top; width: 40%; border: 0;">
    <tr>
        <td class="contentPageTitle" style="text-align: center; vertical-align: middle">我的行车任务</td>
    </tr>
    <tr>
        <td>
            @foreach (var item in Model)
            {
                IList<OrderSeatRec> lst = hisOrderSeatRec.Where(o => o.CarLine.ID == item.ID).ToList();
                List<DateTime> lstStartTime = new List<DateTime>();

                <table cellpadding="0" cellspacing="0" border="1" class="dataGrid">
                    <tr>
                        <td width="30%">班车</td>
                        <td align="left">@item.Car.Name</td>
                    </tr>
                    <tr>
                        <td>线路</td>
                        <td align="left">@item.Name</td>
                    </tr>
                    <tr>
                        <td>说明</td>
                        <td align="left">@item.Remark</td>
                    </tr>
                    <tr>
                        <td>发车</td>
                        <td align="left">@item.CarLineStartTime</td>
                    </tr>
                    <tr>
                        <td>发车情况</td>
                        <td align="left" style="color:red">
                            @if (lst.Count == 0)
                            {
                                <span>(无订座记录)</span>
                            }
                            else
                            {
                                foreach (var r in lst)
                                {
                                    if (!lstStartTime.Contains(r.StartTime))
                                    {
                                        lstStartTime.Add(r.StartTime);
                                        <span>@r.StartTime.ToString("yyyy-MM-dd HH:mm")</span>
                                        <span>发车</span>
                                        <span>@hisOrderSeatRec.Where(m => m.CarLine.ID == item.ID && m.StartTime == r.StartTime).Count()</span>
                                        <span>人乘坐</span>
                                    }
                                }
                            }
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
