@model IEnumerable<com.fxm.MVCHibernate.Domain.CarLine>
@using com.fxm.MVCHibernate.Domain
@using MvcApp
@{
    ViewBag.Title = "我的行车记录";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    IList<OrderSeatRec> hisOrderSeatRec = ViewBag.hisOrderSeatRec as IList<OrderSeatRec>;
}

<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">重庆惠科金渝光电班车订座系统 </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/IndexDriverMobile">首页</a></li>
                <li><a href="/OrderSeatRec/OrderSeatDriver">我的行车任务</a></li>
                <li><a href="/OrderSeatRec/QryPersonalDriver">我的行车记录</a></li>
                <li class="active"><a href="/SysUser/ChangePassword">更改密码</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 导航 end -->
<!-- 占位空间 -->
<div class="zhanwei"></div>
<!-- 占位空间 end -->
<!-- 面包屑导航 -->
<div class="container-fluid nowp">
    <a href="/Home/IndexDriverMobile">首页</a>
    <a href="/OrderSeatRec/OrderSeatDriver">我的行车任务</a>
    <a href="/OrderSeatRec/QryPersonalDriver">我的行车记录</a>
    <a href="/SysUser/ChangePassword">更改密码</a>
</div>
<!-- 面包屑导航 end -->
<div class="container-fluid">
    <h2>我的行车记录</h2>
    <div class="dingzuo">
    @foreach (var item in Model)
    {
        IList<OrderSeatRec> lst = hisOrderSeatRec.Where(o => o.CarLine.ID == item.ID).ToList();
        List<DateTime> lstStartTime = new List<DateTime>();

        <table width="100%" class="info_table mb10" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td width="30%">班车</td>
                <td align="left">@item.Car.Name</td>
            </tr>
            <tr>
                <td>线路</td>
                <td align="left">@item.Name</td>
            </tr>
            <tr>
                <td>说明</td>
                <td align="left">@item.Remark</td>
            </tr>
            <tr>
                <td>发车</td>
                <td align="left">@item.CarLineStartTime</td>
            </tr>
            <tr>
                <td>发车情况</td>
                <td align="left" style="color:red">
                    @if (lst.Count == 0)
                    {
                        <span>(无订座记录)</span>
                    }
                    else
                    {
                        foreach (var r in lst)
                        {
                            if (!lstStartTime.Contains(r.StartTime))
                            {
                                lstStartTime.Add(r.StartTime);
                                <span>@r.StartTime.ToString("yyyy-MM-dd HH:mm")</span>
                                <span>发车</span>
                                <span>@hisOrderSeatRec.Where(m => m.CarLine.ID == item.ID && m.StartTime == r.StartTime).Count()</span>
                                <span>人乘坐</span>
                            }
                        }
                    }
                </td>
            </tr>
        </table>
    }
</div>
    <div class="text-center">
        <p class="text-center login_copy">
            重庆工程学院·版权所有
            <br>
            重庆惠科金渝光电 重庆市巴南区界石镇数码产业园
        </p>
    </div>
</div>

