@using MvcApp
@using com.fxm.MVCHibernate.Domain
@model PageList<SysMenu>

@{
    ViewBag.Title = "功能菜单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <table cellspacing="0" cellpadding="0" style="vertical-align: top; width: 100%; border: 0;">
        <tr>
            <td class="contentPageTitle" style="text-align: center; vertical-align: middle">
                功能菜单列表
            </td>
        </tr>
        <tr>
            <td class="titleContentDivider"></td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="1" class="dataGrid">
                    <tr>
                        <th>
                            模块编号
                        </th>
                        <th>
                            模块名称
                        </th>
                        <th>
                            类名
                        </th>
                        <th>
                            控制器名称
                        </th>
                        <th>
                            Action名称
                        </th>
                        <th>
                            排序码
                        </th>
                        <th>
                            上级模块编号
                        </th>
                    </tr>
                    @if (Model == null || Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6">
                                没有满足条件的数据！
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td style="text-align: left">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td style="text-align: left">
                                    @Html.DisplayFor(modelItem => item.LoadClassName)&nbsp;
                                </td>
                                <td style="text-align: left">
                                    @Html.DisplayFor(modelItem => item.ControllerName)&nbsp;
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActionName)&nbsp;
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SortCode)&nbsp;
                                </td>
                                <td>
                                    @if (item.ParentMenu != null)
                                    {
                                        @item.ParentMenu.ID
                                    }
                                    else
                                    {
                                        <span>&nbsp;</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pager">
                    @Html.Raw(Html.Pager(Model.PageIndex, Model.PageSize, Model.TotalCount, Model.PageIndex))
                </div>
            </td>
        </tr>
    </table>
}
